<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Tabs</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
   <style>
body{
background-color:#F5F5DC;
}
footer{
	background-color:#F5F5DC;
}
</Style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Tabs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mostrarCurso">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

>

</div>
<div class="container">
 <div class="Con" th:if="${estudiante.idCurso > 0}">
    <h1>Panel Estudiante</h1> <br> 
   <h4>No estás inscrito en ningún curso, puedes</h4>
   <h4>revisar nuestros cursos disponibles desde</h3>
   <a class="nav-link" href="/mostrarCurso">Aqui</a>
</div>
	<div class="row">
	<div class="col-6">
	<img th:src="@{${curso.imagen}}">
	<h1>[[${curso.nombre}]]</h1>
	<p>[[${curso.fecinicio}]]</p>
	<p>[[${curso.fectermino}]]</p>
	<p>[[${curso.cupos}]]</p>
	<p>[[${curso.descripcion}]]</p>
	
	</div>
</body>
</html>